* {
  box-sizing: border-box;
  margin: 25px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  background-color: orange;
}

/*Header Style*/
header nav {
  margin-right: 50px;
  float: right;
  display: inline;
}

h1 {
    text-decoration: underline;
  }

header h3 {
  display: inline-block;
  color: black;
  margin-left: 20px;
}

/*Container Style*/
.container {
  margin: 60px 10px;
  width: 100%;
  height: 100px;
  text-align: center;
}
#myfonts {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Button Style*/
button {
  font-family: sans-serif;
  background-color: white;
  border-radius: 10px;
  border: 3px double #cccccc;
  color: black;
  text-align: center;
  
  font-size: 15px;
  padding: 10px;
  width: 200px;
  margin-top: 3px;
}

button:hover {
  box-shadow: 4px 3px 6px orange;
}

#start {
  text-align: center;
  display: inline-block;
}

#submitScore {
  display: inline-block;
}

#goBack {
  display: inline-block;
}

#highScorebtn {
  display: inline-block;
}

.message {
  font-weight: lighter;
  font: italic;
}

#quiz {
  display: none;
}

#gameover {
  display: none;
}

#highscore {
  display: none;
}
